body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.topnav {
    overflow: hidden;
    background-color: rgb(3, 223, 223);
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: blue;
    color: white;
    border-radius: 8px;
}

.imghead {
    max-width: 61px;
    height: auto;
    display: inline-block; /* Use inline-block to make it stay in line with the text */
    margin: -14px;
}

@media screen and (max-width:600px) {
    .topnav a {
        float: left;
        width: 100%;
    }
}

.container {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 10%;
    background-color: #414040;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.contact-info,
.quick-links,
.recent-posts {
    flex: 1;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

.Links:hover {
    text-decoration: underline;
}