body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    padding: 80px;
    text-align: center;
    background: #12846d;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.topnav {
    overflow: hidden;
    background-color: rgb(3, 223, 223);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000; /* Adjust the z-index as needed to ensure it stays above other elements */
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: rgb(3, 3, 248);
    opacity: 10;
    color: white;
    border-radius: 8px;
}

.imghead {
    max-width: 61px;
    height: auto;
    display: inline-block; /* Use inline-block to make it stay in line with the text */
    margin: -14px;
}

.container {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 10%;
    background-color: #414040;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.contact-info,
.quick-links,
.recent-posts {
    flex: 1;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

.Links:hover {
    text-decoration: underline;
}

/* Styles for screens up to 600 pixels wide (phones) */
@media only screen and (max-width: 600px) {
    /* Your responsive styles for phones */
}

/* Styles for screens between 600 and 900 pixels wide (tablets) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    /* Your responsive styles for tablets */
}

/* Styles for screens larger than 900 pixels wide (larger screens) */
@media only screen and (min-width: 901px) {
    /* Your responsive styles for larger screens */
}