.container,
.videocontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 5%; /* Adjust the margin-top value as needed */
}

.container .content,
.videocontainer .videocontent {
    margin: 20px;
}

.container .content img,
.videocontainer .videocontent video {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.container .content h2,
.videocontainer .videocontent h2 {
    margin-top: 10px;
    font-size: 1.5em;
}

/* Example media query for smaller screens */
@media screen and (max-width: 600px) {
    .videocontainer,
    .container {
        flex: 1; /* Take up full width on smaller screens */
        margin: 20px 0; /* Adjust margin for spacing */
        padding-right: 0; /* Remove padding on smaller screens */
        flex-direction: column; /* Change to a column layout on smaller screens */
    }
}
