/* Reset styles for all elements */
* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

@font-face{
    font-family:'digital-clock-font';
    src: url('Fonts/digital-7.ttf');
}

/* Styling for the body element */
body {
    background: linear-gradient(white, rgb(171, 171, 171));
}

/* Styling for the navigation container */
.nav-container {
    display: flex;
    font-size: 14px;
    height: 10vh;
}

/* Styling for the list items inside the navigation container */
.nav-container li {
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 900;
}

/* Styling for the navbar */
.navbar {
    margin: auto;
    padding: 0.5rem 1.5rem;
    background: #7debb9;
    border-radius: 1rem;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}

/* Styling for the navigation links */
.nav-links {
    display: flex;
    gap: 2rem;
    margin: auto;
}

/* Styling for the individual navigation links and dropdown links */
.nav-link,
.drop-down a {
    list-style: none;
    height: 100%;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
}

.nav-container a {
    text-decoration: none;
    color: currentColor;
    font-weight: 800;
}

.drop-down {
    position: absolute;
    padding: 0.5rem 0;
    margin: 0.5rem -0.5rem;
    background: #affdda;
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    font-size: 12px;
    display: none;
}

.nav-link a:hover,
.nav-link:hover {
    background-color: black;
    color: white;
    border-radius: 0.5rem;
}

.subjects:hover .drop-down {
    display: block;
}

.nav-link a {
    display: flex;
    align-items: center;
}

.dropdown-icon,
.home-icon,
.person-icon {
    font-size: 20px;
    position: relative;
    right: -5px;
}

.dropdown-icon {
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
}

.home-icon,
.person-icon {
    right: 2px;
}

.subjects:hover .dropdown-icon {
    transform: rotate(180deg);
}

.drop-down li:hover {
    background: black;
    color: white;
    transition: 0.1s ease-in-out;
    border-radius: 0.5rem;
}

/* Footer design */
footer {
    color: #fff;
    padding: 20px 0;
    background-color: #5e5e5e;
    color: #fff;
    text-align: center;
    margin-top: 30%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.contact-info,
.quick-links {
    flex: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
}

a {
    color: #fff;
    text-decoration: none;
}

.Links:hover {
    text-decoration: underline;
}

.contact-info p {
    margin-top: 0.5rem;
}

.footer-content h3 {
    font-size: 1.5rem;
}

.footer-content a:hover {
    text-decoration: underline;
}

/* Scrollbar design */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: #60b58f;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #7debb9;
}

/* Styling for the Digital clock */
.Localclock p{
    font-family: 'digital-clock-font';
    animation: glow 3s ease-in-out infinite alternate;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: bold;
    margin: 2rem;
    position: absolute;
    z-index: 9999;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #7debb9, 0 0 10px #7debb9, 0 0 15px #7debb9, 0 0 20px #7debb9, 0 0 30px #7debb9, 0 0 40px #7debb9, 0 0 50px #7debb9;
    }
    
    to {
        text-shadow: 0 0 20px #7debb9, 0 0 30px #7debb9, 0 0 40px #7debb9, 0 0 50px #7debb9, 0 0 60px #7debb9, 0 0 70px #7debb9;
    }
}
