* {
    font-family: "Poppins", sans-serif;
}

.title {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-weight: 800;
}

.AboutMeContent{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 1rem;
}

.AboutMe {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

h3{
    text-decoration: underline;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}