* {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.title {
    text-align: center;
    margin-top: 3rem;
}

.TEK-Container {
    margin: 1rem;
}

.TEK-Contents {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.TEK-Content {
    margin-top: 3rem;
    text-align: center;
}

img {
    width: 20vw;
    border-radius: 1rem;
    display: block;
}

.TEK-Content h3 {
    color: black;
    text-decoration: underline;
}